<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title color="success">About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  class="body">
   <ion-text>
   
    <ion-card class="one">Thanks for using our Application...</ion-card>
    
    <ion-card class="two">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;We have created our application to live a healthy life by eating healthy food in our daily routine, by which the food is made by ourselves. Eating food outside is enjoyable for one day, not for daily routines. The Food Preservatives and Flavor Enhancer Salts may lead to dangerous health hazards.</ion-card>

    <ion-card class="three">
      &nbsp;&nbsp;&nbsp;Our Team,<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;KALYANASUNDARAM<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;SATISH KUMAR<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;RISHYASRUNGAR<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;YOKESH<br>
    </ion-card>
  </ion-text> 
  </ion-content>
