ion-title{
    color: #2dd36f;
    font-weight: 500;
    min-height: 18px;
    font-family: 'Times New Roman';
   }
   ion-card{
       border-radius: 10px;
       box-shadow: 3px 3px #888888;
       border: 2px solid #2dd36f;
       display: flex;
   }
