<ion-header>
  <ion-toolbar>
	<ion-buttons slot="start">
		<ion-back-button></ion-back-button>
	  </ion-buttons>
    <ion-title>masaladosa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

 <ion-text>
    <b>Dish Name :</b> 
   Masala Dosa with Peanut chutney 
  
	<br><br>
 
<h2>Health Benefits:-</h2>
<ul>
<li>Calories - 539 Kcal	</li>
<li>Carbohydrates - 50 g</li>
<li>Fat - 32.8 g</li>
<li>Protein - 38.9 g</li>	
<li>Fiber - 10.3 g	</li>
<li>Cholesterol - 45.5 g</li>	
<li>Calcium - 77.5 mg	</li>
<li>Iron - 3.2 mg	</li>
<li>Magnesium - 60.2 mg</li>
<li>Phosphorus - 204.5 mg	</li>
<li>Sodium - 190.6 mg	</li>
<li>Potassium - 497.3 mg	</li>
<li>Zinc - 1.4 mg	</li>
</ul>
<br/>
<b>Ingredients:-</b>


<b>	Dosa : 8 - 10 </b>

<b>For Dosa Batter	</b>
<ul>	
<li>2 cups Idli Rice</li>
<li>1 cup White Urad Dal</li>
<li>7-8 grains of Methi Seeds</li>
<li>To taste Salt as per Taste</li>
<li>As needed Water</li>
</ul>
	For Aloo Sabji
  <ul>
<li>3/4 Boiled Potatoes</li>
<li>1 large onion finely sliced</li>
<li>2 green chillies</li>
<li>6/7 curry leaves</li>
<li>1 teaspoon Mustard seeds</li>
<li>Handful coriander leaves</li>
<li>To taste Salt as per taste</li>
<li>1/4 tsp Haldi / turmeric powder</li>
<li>Pinch Hing</li>
<li>For Peanut Chutney</li>
<li>100-200 grams peanuts</li>
<li>2-3 green chillies</li>
<li>1/2 " ginger</li>
<li>To taste Salt</li>
<li>As needed Water</li>
<li>For tempering</li>
<li>2 tablespoons oil</li>
<li>1 teaspoon Mustard seeds</li>
	<li>7-8 curry leaves</li>
</ul>
Directions:-
 
	01 . Wash and Soak rice and dal separately for about 7 8 hours or overnight. Add methi seeds to it.
	02 . Now grind them in mixer separately. Add salt as per taste. Then put both of them in one Steel Dabba.
	03 . Mix the batter well for 10 mins.
	04 . Close the lid and keep it for fermenting in warm place. U can cover it with bedsheet.
	05 . For Aloo Masala. Take one kadai. Put little oil. Oil when heated at mustard seeds. When it splutters add onion and green chillies.
	06 . Saute till translucent. Now add boiled potatoes and mix well.
	07 . To it add curry leaves, salt and Haldi. And mix it.
	08 . For garnishing add coriander leaves.
	09 . For Chutney.. take peanuts, green chillies, ginger salt and water as required and grinde well in mixer.
	10 . Take it out in a bowl and keep one small kadai or vagara for tempering. Add oil and mustard seeds and curry leaves and pour over chutney.
	11 . Now for Dosa..take the required amount of batter in pot. Add few drops of water. Don't make it watery.
	12 . Keep tawa for on gas.
	13 . Spread dosa batter on tawa.
	14 . Add one teaspoon oil. Over it. And wait till it is golden brown. Add masala to it.
	15 . Masala Dosa with Chutney is ready to be served.


  <ion-card style="padding:10px">
Video Link:-
<br/><br/>
	<a href="https://youtu.be/mDqkxZ3UVzc">Click here for procedure video</a>

</ion-card>
 </ion-text>
</ion-content>
