<ion-app slot="start">
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <div class="avatar">
            <ion-icon name="person-circle-outline"></ion-icon>
            <div class="profile">
            <ion-list-header>Profile</ion-list-header>
          </div>
        </div>    
          <ion-note>profile@gmail.com</ion-note>

          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = home">
            <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'" color="success"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
