<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="green">Adai</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
  <img class="adai" src="assets/adaidosa.jpg" >
</ion-card>

<ion-text>Health Benefits:-</ion-text>
<ul>
	<li>Calories - 340</li>
	<li>protein - 13g	</li>
	<li>Fat - 4g</li>
	<li>Carbohydrate - 68g</li>
	<li>Fibre - 7g</li>
</ul>

<ion-text>
  Ingredients:-
  <ion-card>
<ul type="circle">
	<li>Serves : 4</li>
  <li>Cooking Time : 35 Minutues</li>
</ul>
</ion-card>
<br/>

<ul>
 	<li>White Rice 1.5 cups</li>
  <li>Toor Dal 0.25 cups</li>
  <li>Chana Dal 0.25 cups</li>
  <li>Urad Dal Whole White Gota 2 tablespoons</li>
  <li>Salt 1 teaspoon</li>
  <li>Cumin 1 teaspoon</li>
  <li>Red Dry Chilli Bydagi 3 pieces</li>
  <li>Refined Oil 3 teaspoons</li>
  <li>Asafoetida/hing 1 pinch</li>
  <li>Ginger 0.5 teaspoons</li>
  <li>Curry Leaves 3 g</li>
  <li>Pepper 1 teaspoon</li>
	<li>Water 500 ml</li>
</ul>  
</ion-text>

<ion-text>
  Directions:-
<br/><br/>

  &nbsp;&nbsp;&nbsp;&nbsp;1 . Soak the dals, rice and dry red chilli in a bowl with water for a minimum of 5-6 hours or overnight. Drain the excess water after soaking.<br/><br/>
	&nbsp;&nbsp;&nbsp;&nbsp;2 . To the soaked mix add cumin seeds, hing, curry leaves, chopped ginger and blend it.<br/><br/>
	&nbsp;&nbsp;&nbsp;&nbsp;3 . Add a little water while blending. (the batter should not be to thin , it should be thick in consistency)<br/><br/>
	&nbsp;&nbsp;&nbsp;&nbsp;4 . Heat a tawa or non stick pan on a low medium flame . Brush a little oil on the pan. WIth a ladle pour adai mixture and spread evenly in round shape (the thickness of spread batter should not be more than the tip of index finger )<br/><br/>
	&nbsp;&nbsp;&nbsp;&nbsp;5 . Cook evenly on both sides till they turn a light brown color. do not burn<br/><br/>
	&nbsp;&nbsp;&nbsp;&nbsp;6 . Serve hot .<br/><br/>

  <ion-card style="padding:20px">
Video Link:-
<br/><br/>

	<a href="https://youtu.be/1P7Wivn8M50">Click here for proceducer</a>
</ion-card>
</ion-text>
</ion-content>
