<ion-header>
	<ion-toolbar>
	  <ion-buttons slot="start">
		  <ion-back-button></ion-back-button>
		</ion-buttons>
	  <ion-title>Semiya Upma</ion-title>
	</ion-toolbar>
  </ion-header>
  
  <ion-content>
	  <ion-card>
	  <div class="ravaidli">
	  <h1 class="green">Dish Name:-</h1>
	  <div class="heading">
	  <h1>Semiya Upma</h1>
	  <br/>
  </div>
	  <ion-card>
		  
		  <img src="assets/semiyaupma.webp">
		  
	  </ion-card>  
	  
	  <br/>
		 <h1 class="green">Health benefits:-</h1>
		 <ion-text>
	   <ul>    
		<li>Calories - 164. 13 Kcal</li><br/>
		<li>Protein - 3.97 gm.</li><br/>
		<li>Fat - 5.04 gm.</li><br/>
		<li>Saturated Fat - 0.33 gm.</li><br/>
		<li>Carbohydrates -  25.03 gm.</li><br/>
		<li>Fiber - 3.41 gm.</li><br/>
		<li>Sodium - 2.13 mg.</li><br/>
		<li>Potassium - 103.77 mg.</li><br/>
		<li>Calcium - 13.79 mg.</li><br/>
		<li>Iron - 1.01 mg.</li><br/>
		<li>Zinc - 0.51 mg.</li><br/>
	   </ul>
	  </ion-text>
	  <h1 class="green">Ingredients:-</h1>
	  <ion-text>
	  <ul type="circle">
	  <li><b>Serves :</b> 4</li><br/>
	  <li><b>Preparation Time :</b> 5 Minutes</li><br/>
	  <li><b>Cooking Time :</b> 15 Minutes</li><br/>
  </ul>     
  <ul>
	  <li>4 tsp oil</li><br/>
	  <li>2 cup vermicelli / semiya</li><br/>
	  <li>water to cook</li><br/>
	  <li>1 tsp salt</li><br/>
	  <li>6 tsp oil</li><br/>
	  <li>2 tsp mustard</li><br/>
	  <li>1 tsp urad dal</li><br/>
	  <li>1 Dry Red Chilli</li><br/>
	  <li>2 tsp chana dal</li><br/>
	  <li>2 dried red chilli</li><br/>
	  <li>few curry leaves</li><br/>
	  <li>handful peanuts</li><br/>
	  <li>2 inch ginger (finely chopped)</li><br/>
	  <li>4 green chilli (slit)</li><br/>
	  <li>4 tbsp onion (finely chopped)</li><br/>
	  <li>1 tsp turmeric / haldi</li><br/>
	  <li>4 tbsp peas / matar</li><br/>
	  <li>4 tbsp carrot (finely chopped)</li><br/>
	  <li>1 tsp salt</li><br/>
	  <li>4 tbsp capsicum (finely chopped)</li><br/>
	  <li>4 tbsp beans (finely chopped)</li><br/>
	  <li>1 lemon</li><br/>
	  <li>4 tbsp coriander (finely chopped)</li><br/>
  </ul>
  </ion-text>
  
  <h1 class="green">Directions:-</h1>
  <br/>
  <ion-text>
  <ol>
	<li>Firstly, in a kadai heat 3 tsp oil and splutter 1 tsp mustard, ½ tsp urad dal, 1 tsp chana dal, 1 dried red chilli and few curry leaves.</li><br/><br/>
		<li>Also, add handful peanuts and roast till turn crunchy on low flame.</li><br/><br/>
			<li>Now add 1 inch ginger and 2 green chilli. saute well.</li><br/><br/>
				<li>Further, add 2 tbsp onion and saute slightly.</li><br/><br/>
					<li>Also add 2 tbsp peas, 2 tbsp carrot, 2 tbsp capsicum and 2 tbsp beans. saute for a minute.</li><br/><br/>
						<li>Additionally, add ½ tsp turmeric and ½ tsp salt. saute for a minute.</li><br/><br/>
							<li>Cover and cook for 2 minutes or till vegetables turn soft.</li><br/><br/>
								<li>Add in cooked semiya and mix gently. do not over mix as semiya will get mashed.</li><br/><br/>
									<li>Now add 2 tbsp coriander and ½ lemon. mix well.</li><br/><br/>
										<li>Finally, serve semiya upma with hot masala chai for morning breakfast.</li><br/><br/>
  </ol>
  </ion-text>
  <ion-card style="padding:20px">
	  
	  <h1 class="green">Video Link:-</h1>
	  <ion-text>
	  <a style="text-decoration: none;" href="https://youtu.be/3G-7eGSy-Hk">SEMIYA UPMA</a>
  </ion-text>
  </ion-card>
  <br/><br/>
  </div>
  </ion-card>
  </ion-content>
  