<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="green">ravautthapam</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
   <img class="ravautthapam" src="assets/ravauttapam.webp" >
  </ion-card>
  <ion-text><h1>Dish Name: </h1></ion-text>
  <ion-text>Rava Uttapam</ion-text>

  <br><br>
<ion-text><h1>Health Benefits:-</h1></ion-text>
  <ul>
  <li>Calories - 279</li>
	<li>protein - 3g</li>	
	<li>Fat - 4g</li>
	<li>Carbohydrate - 57g</li>
	<li>Fibre - 2g</li>
</ul>
<ion-text>
 <h1> Ingredients:-</h1>
 <ul>
   <li>Serves : 2</li>
   <li>Cooking Time : 30 Minutues</li>
    <li>Rava Sooji 0.5 cups</li>
    <li>Salt 1 teaspoon</li>
   <li>Refined Oil 2 teaspoons</li>
  <li>Red Chilli Powder 1 teaspoon</li>
    <li> Onion 1 unit</li>
    <li>Tomato 1 unit</li>
    <li>Capsicum Green-regular 1 unit</li>
    <li>Coriander W/o Roots 10 g</li>
    <li>Dairy Curd 0.5 cups</li>
    <li>Green Chillies 2 units</li>
    <li>Water 0.5 cups</li>
   </ul>
   <h1>Directions:-</h1>
   <ol>
    <br><li> Fine chop the onion, tomato, green chilli, coriander leaves, and capsicum. Add it to a bowl and mix. Take a mixing bowl and add rawa with water, salt, red chilli powder, onion, tomato, capsicum coriander, green chilli and curd.</li>
    <br><li> Mix well to avoid any lumps. The batter should have a pouring consistency .</li>
    <br><li> Take a non - stick pan and heat. Pour a ladle full of batter and spread in circular motion (should be half the size the tip of the index finger in thickness). Drizzle a little oil</li>
    <br><li> Once it cooks on one side, lightly release from the pan and flip and cook on the other side until it cooks through it should be golden brown.</li>
    <br><li> Once it's done serve hot with some green chutney</li>
   </ol>
   <ion-card style="padding:20px">
   <h1>Video Link:-</h1>
   
   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://youtu.be/BiO1SXyRAs4">Click here for proceducer</a>
   <br>
   <br>
  </ion-card>
</ion-text>



</ion-content>
