ion-title{
    color: #2dd36f;
}

ion-content{
    text-align:justify;
    font-family:'Times New Roman';
 }
 ion-text{
     font-size: 20px;
 }
 ion-card{
    border-radius: 10px;
    box-shadow: 3px 3px #888888;
    border: 2px solid #2dd36f;
 }
 .ravaidli{
     padding-top: -100px;
     padding-left: 20px;
     padding-right: 20px;
 }
 .green{
     color: #2dd36f;
     font-size: 25px;
 
 }
 .heading{
     text-align: center;
     font-size: 22px;
 }
 