<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title color="success">Health Benefits</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="health">
  <ion-text>
    <h1 class="green"><bold>What is BMI ?</bold></h1>
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; BMI (Body Mass Index) is a calculated number representing a person's level of fat or obesity level. 
  According to the Centers for Disease Control and Prevention (CDC), a BMI of 30 or above indicates obesity. 
  BMI levels are broken down by weight range and are as follows:
  </ion-text>
  <br/><br/>
  <p style="text-align:center">
  <img src="assets\BMI.jpg" alt="BMI image" width="85%" >
  </p>
  <br/>
  <h1 class="green">Calories:</h1>
  
    <ion-text>A calorie is a unit of energy.
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;In nutrition, calories refer to the energy people get from the food and drink they consume, and the energy they use in physical activity.
    </ion-text>

  <h1 class="green">Fast facts on calories:-</h1>
  
    <ion-text>
      <ul>
      <li>Recommended calorie intake depends on factors such as age, size, height, sex, lifestyle, and overall general health.</li><br/>
      <li>Recommended daily calorie intakes in the US are around 2,500 for men and 2,000 for women.</li><br/>
      <li>Eating a big breakfast could help with weight reduction and maintenance.</li><br/>
      <li>The brain uses around 20 percent of the energy used in the human body.</li><br/>
      <li>Factors affecting ideal calorific intake include age, bone density, and muscle-fat ratio.</li><br/>
      <li>A 500-calorie meal consisting of fruits and vegetables has more health benefits and will keep you feeling full for longer than a 500-calorie snack of pop.</li><br/>
    
</ul>
</ion-text>
      <ion-text class="green">
        Below are the calorific values of three main components of food:
      </ion-text>

      <ion-text>
        <ul>
        <li>1 g of carbohydrates contains 4 kcal</li>
        <li>1 g of protein contains 4 kcal</li>
        <li>1 g of fat contains 9 kcal</li>
        </ul>
      </ion-text>

      <ion-text>
        <h1 class="green">Example:-</h1>
          <br/>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;As an example, here is the breakdown of how
        a person would get calories from one cup of large eggsTrusted Source, weighing 243 g:
      </ion-text>

      <ion-text>
        <ul>       
        <li>Fat: 23.11 g<br/>

        23.11 g x 9 kcal = 207.99 kcal</li>

        <li>Protein: 30.52 g  <br/>

        30.52 x 4 kcal = 122.08 kcal</li>

        <li>Carbohydrate: 1.75 g<br/>

        1.75 x 4 kcal = 7 kcal</li>
      </ul>

      </ion-text>

      <ion-text class="green">Carbohydrates:-</ion-text>
        <br/><br/>
      <ion-text>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Sugar, starch, and fiber are types of carbohydrates.<br/><br/>

        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Sugars are simple carbs. The body quickly breaks down and absorbs sugars and processed starch. 
        They can provide rapid energy, but they do not leave a person feeling full. 
        They can also cause a spike in blood sugar levels. 
        Frequent sugar spikes increase the risk of type 2 diabetes and its complications.<br/><br/>

        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Fiber is also a carbohydrate. The body breaks down some types of fiber and uses them for energ; 
        others are metabolized by gut bacteria, while other types pass through the body.<br/><br/>

        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Fiber and unprocessed starch are complex carbs. It takes the body some time to break down and 
        absorb complex carbs. After eating fiber, a person will feel full for longer. Fiber may also 
        reduce the risk of diabetes, cardiovascular disease, and colorectal cancer.
        Complex carbs are a more healthful choice than sugars and refined carbs.
      </ion-text>

      <br/><br/>
      <ion-text class="green">
        Proteins:-
      </ion-text>
        <br/><br/>
      <ion-text>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Proteins consist of amino acids, which are organic compounds that occur naturally.
          <br/><br/>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Some foods provide complete protein, which means they contain all the essential amino acids the body needs.
        Other foods contain various combinations of amino acids.
      </ion-text>

      <ion-text>
        <p class="green">Fats:-</p>
          
        Fats are essential for:
          <br/>
          <ol>
        <li>lubricating joints</li>
        <li>helping organs produce hormones</li>
        <li>enabling the body to absorb certain vitamins</li>
        <li>reducing inflammation</li>
         </ol>

      </ion-text>

      <ion-text>
        <p class="green">Water:-</p>
            
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The adult human body is up to 60% water, and it needs water for many processes. 
        Water contains no calories, and it does not provide energy.
            <br/><br/>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Many people recommend consuming 2 liters, or 8 glasses, of water a day, but it can also 
        come from dietary sources, such as fruit and vegetables. 
        Adequate hydration will result in pale yellow urine.
      </ion-text>

      <ion-text>
        <p class=green>Micronutrients:-</p>
            
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Micronutrients are essential in small amounts. They include vitamins and minerals.
          Manufacturers sometimes add these to foods. Examples include fortified cereals and rice.
      </ion-text>

      <ion-text>
        <p class="green">Minerals:-</p>

        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The body needs carbon, hydrogen, oxygen, and nitrogen.

        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;It also needs dietary minerals, such as iron, potassium, and so on.
      </ion-text>

      <ion-text>
        <p class="green" >Potassium:-</p>

        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Potassium is an electrolyte. It enables the kidneys, the heart, the muscles, and the nerves to work properly. 
        The 2015–2020 Dietary Guidelines for Americans recommend that adults consume 4,700 milligramsTrusted Source (mg) of potassium each day.
          <br/><br/>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Too little can lead to high blood pressure, stroke, and kidney stones.
      </ion-text>

      <p class="green">Sodium:-</p>

      Sodium is an electrolyte that helps:
      <ul>
      <li>maintain nerve and muscle function</li>
      <li>regulate fluid levels in the body</li>
      </ul>

      <ion-text>
        <p class="green">Calcium:-</p>

        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The body needs calciumTrusted Source to form bones and teeth. It also supports the nervous system, 
        cardiovascular health, and other functions.
            <br/><br/>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Too little can cause bones and teeth to weaken. Symptoms of a severe deficiency include tingling in the fingers and changes in heart rhythm, which can be life-threatening.
      </ion-text>

      <ion-text>
        <p class="green">Phosphorus:-</p>

        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Phosphorus is present in all body cells and contributes toTrusted Source the health of the bones and teeth.

        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Too little phosphorus can lead to bone diseases, affect appetite, muscle strength, and coordination. It can also result in anemia, a higher risk of infection, burning or prickling sensations in the skin, and confusion.
          <br/><br/>
        <p class ="green">Magnesium:-</p>

        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Magnesium contributes toTrusted Source muscle and nerve function. It helps regulate blood pressure and blood sugar levels, and it enables the body to produce proteins, bone, and DNA.

        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Too little magnesium can eventually lead to weakness, nausea, tiredness, restless legs, sleep conditions, and other symptoms.
          <br/><br/>
        <p class="green">Zinc:-</p>

        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Zinc plays a role in the health of body cells, the immune system, wound healing, and the creation of proteins.

        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Too little can lead to hair loss, skin sores, changes in taste or smell,and diarrhea, but this is rare.
          <br/><br/>
        <p class="green">Iron:-</p>

        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Iron is crucial for the formationTrusted Source of red blood cells, which carry oxygen to all parts of the body. It also plays a role in forming connective tissue and creating hormones.

        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Too little can result in anemia, including digestive issues, weakness, and difficulty thinking. Learn more here about iron deficiency.

        <p class="green">Manganese:-</p>

        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The body uses manganese to produce energyTrusted Source, it plays a role in blood clotting, and it supports the immune system.

        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Too little can result in weak bones in children, skin rashes in men, and mood changes in women.

        <p class="green">Copper:-</p>

        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Copper helps the bodyTrusted Source make energy and produce connective tissues and blood vessels.

        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Too little copper can lead to tiredness, patches of light skin, high cholesterol, and connective tissue disorders. This is rare.

        <p class="green">Selenium:-</p>

        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Selenium is made up of over 24 selenoproteins, and it plays a crucial roleTrusted Source in reproductive and thyroid health. As an antioxidant, it can also prevent cell damage.

        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Too little can result in heart disease, infertility in men, and arthritis.

      </ion-text>
</div>
</ion-content>
