
ion-content{
   text-align:justify;
   font-family:'Times New Roman';
}
ion-text{
    font-size: large;
}
.health{
    padding-top: -100px;
    padding-left: 20px;
    padding-right: 20px;
}
.green{
    color: #2dd36f;
    font-size: 25px;

}
