<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title color="success">Health Benefits</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-text>
    <h1 class="green"><bold>BMI</bold></h1>
  BMI (Body Mass Index) is a calculated number representing a person's level of fat or obesity level. 
  According to the Centers for Disease Control and Prevention (CDC), a BMI of 30 or above indicates obesity. 
  BMI levels are broken down by weight range and are as follows:
  </ion-text>
  <br/><br/>
  <p style="text-align:center">
  <img src="assets\BMI.jpg" alt="BMI image" width="75%" >
  </p>
  <br/>
  <br/>
  <br/>
  <h1 class="green">Calories:</h1>
  
    <ion-text>A calorie is a unit of energy.
     In nutrition, calories refer to the energy people get from the food and drink they consume, and the energy they use in physical activity.
    </ion-text>

  <h1 class="green">Fast facts on calories:-</h1>
  
    <ion-text>
      <ul>
      <li>Recommended calorie intake depends on factors such as age, size, height, sex, lifestyle, and overall general health.</li><br/>
      <li>Recommended daily calorie intakes in the US are around 2,500 for men and 2,000 for women.</li><br/>
      <li>>Eating a big breakfast could help with weight reduction and maintenance.</li><br/>
      <li>The brain uses around 20 percent of the energy used in the human body.</li><br/>
      <li>Factors affecting ideal calorific intake include age, bone density, and muscle-fat ratio.</li><br/>
      <li>A 500-calorie meal consisting of fruits and vegetables has more health benefits and will keep you feeling full for longer than a 500-calorie snack of pop.</li><br/>
    
</ul>
</ion-text>

</ion-content>
