<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Hefo</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card *ngFor="let d of dishCards" [routerLink]="[d.url]">
    <ion-card-header color="success">
      <ion-card-title>{{ d.title }}</ion-card-title>
    </ion-card-header>
    <ion-img [src]="[d.image]"></ion-img>
    <ion-card-content>
      {{ d.description }}
    </ion-card-content>
  </ion-card>
</ion-content>
