<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title color="success">Settings</ion-title>
  </ion-toolbar>
</ion-header>
<ion-card class="design"><ion-text><a href="#" >Account</a></ion-text></ion-card>
<ion-card class="design"><ion-text><a href="#">Reminder</a></ion-text></ion-card>
<ion-card class="design"><ion-text><a href="#">Privacy</a></ion-text></ion-card>
<ion-card class="design"><ion-text><a href="#">Help</a></ion-text></ion-card>
<ion-content>

</ion-content>
